/* add image to db container */

#create_image_container {
    background-color: rgb(237, 228, 217);
    height: 25vh;
    width: 60vw;
    margin: auto;
    margin-top: 4vh;
    border-radius: 5px;
    box-shadow: 1px 3px 8px .2px rgb(205, 201, 201);
}

#create_image_container>h1 {
    font-size: 2.3rem;
    padding: 10px 0 10px 30px;
    font-family: var(--theme-font);
}

#image_input {
    height: 40px;
    width: 30vw;
    margin-left: 3vw;
    margin-bottom: 20px;
    font-size: 1.3rem;
    padding-left: 20px;
    font-family: var(--theme-font);
    letter-spacing: 1px;
    border-radius: 20px;
    /* border: 1px solid black; */
    border: none;
    background-color: whitesmoke;
}

#image_input:focus {
    outline: .1px solid rgb(132, 132, 236);
}

#clear_btn,
#create_btn {
    height: 35px;
    width: 100px;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 4px;
    cursor: pointer;
    box-shadow: 1px 3px 8px .2px rgb(205, 201, 201);
}

#create_btn {
    background-color: rgb(103, 103, 220);
}

#clear_btn {
    margin-left: 10vw;
}

/* image list header */

:root{
    --theme-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#image_list_container{
    margin-top: 2vh;
}

    #add_image, #cancel_btn{
        display: inline-block;
        height: 30px;
        width: 130px;
        background-color: rgba(198, 254, 254, 0.904);
        font-size: large;
        border-radius: 5px;
        color: rgb(134, 134, 250);
        font-weight: 700;
        border: 1px solid rgb(165, 165, 238);
        cursor: pointer;
    }
        #cancel_btn {
            background-color: rgba(255, 19, 0, .1);
            border: 2px solid #ff1300;
            color: #ff1300;
        }

    #plus_icon{
        font-size: 1.3rem;
        padding-right: 2px;
    }

    #back_btn{
        height:30px;
        width: 30px;
        border-radius: 50%;
        box-shadow: 1px 3px 8px .2px rgb(205, 201, 201);
        color: black;
        padding: 10px;
        margin-left: 12vw;
    }

    #images_in_album{
        display: inline-block;
        width: 45vw;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: var(--theme-font);
        margin-left: 5vw;
        /* text-align: center; */
    }

/* search images */
#searchContainer{
    display: inline-block;
    margin-right: 20px;
}

#inputSearch{
    height: 30px;
    width: 11vw;
    border-radius: 2px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: 4px 6px;
    outline: none;
    border: 1px solid black;
    font-family: "Poppins", sans-serif;
}


#faCircleXmark, #faMagnifyingGlass{
    font-size: 2rem;
    margin:0px 4px -3px 4px;
}



/* image list container */

#imageListContainer{
        position: relative;
        grid-gap: 20px;
        display: grid;
        gap: 20px;
        grid-auto-flow:row;
        grid-auto-rows: 150px;
        grid-template: repeat(1,150px) /repeat(auto-fit,minmax(175px,.5fr));
        margin-bottom: 50px;
        margin: 30px 12vw 0px 12vw;

}


/* images carousel styles */

#carouselContainer{
    display: flex;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 999;
   
}

#carouselImage{
    height: 85%;
    width: 75%;
    margin:0px 50px ;
    
}

#faAnglesLeft, #faAnglesRight,#faX{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 3px 8px .2px rgb(205, 201, 201);
    padding: 10px;
}

#faX{
    position: absolute;
    right: 20px;
    top:20px;
}

 #faAnglesLeft, #faAnglesRight{
     align-self: center;
     }